* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;

}

.container {
    max-width: 450px;
    background: hsl(0, 41%, 50%);
    border-radius: 55px;
    box-shadow: 0px 0px 15px 3px rgb(72, 0, 255);
    font-family: sans-serif;
    padding: 20px;
    /* animation: widthanimate2 3s ease-in 1s 1 alternate-reverse; */

}

/* @keyframes widthanimate2{
    100%{
        width:30px;
        height: 30px;
  }
    0%{
        width: 100%;
        height: 100%;            
    }  
}*/
.container:hover{
    background-color: rgba(38, 4, 96, 0.749);


}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon {
    font-size: 45px;
    color: #fff;
}

h1 {
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

.by {
    justify-content: center;
    text-align: center;
    color: red;
}

#celsius,
#fahrenheit,
#kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;


}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}





.icon {
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #000000;
    color: #fff;
    border-radius: 0 8px 8px 0;
    /* border-radius: 8px; */
}


.button {
    margin-top: 25px;
    text-align: center;
}


 .button button {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    background-color:  hsl(0, 41%, 50%);
    transition: 0.3s;
} 



.button button:hover {
    background: #151515;
    color: #fff;
}